body {
  line-height: 1.6em;
  margin: 0;
  
}

/* Global */

.container {
  width:80%;
  margin: auto;
  overflow: hidden;
}

/* Home-Section */

#navbar {
  color: #f4f4f4;
  text-align: center;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding-right: 30px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

#showcase {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('/images/Background\ 1.jpg');
  color: white;
  text-align: center;
  padding-bottom:450px;
}

#showcase h1 {
  font-size: 90px;
  padding-top: 50px;
  font-family: "Fredoka One", cursive;
}

#showcase p {
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  font-size: 25px;
}

#showcase hr {
  width: 650px;
}

#showcase li {
  display: inline;
}

#showcase a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding-right: 45px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

/* About-Section */

#about-section {
  background: #2b2b2b;
  overflow: hidden;
  padding: 100px 0px;
}

#about-section .belah-kanan {
  float: right;
  text-align: left;
  padding-right: 400px;
  color: #555555;
}

#about-section .belah-kanan h2,
h3 {
  font-size: 22px;
  color: white;
}

#about-section .belah-kiri {
  margin-top: 20px;
  float: left;
}

/* Work-Section */

#work-section{
  background-color: #fcfdfd;
  margin:0;
  padding:0;
}

h5{
    text-align: center;
    font-size:30px;
    color: #555555;
    margin:0;
    padding: 50px;
}
.container-1 {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  width:800px;
  margin:0px 7%;
  padding-bottom:60px;
}
.container-1 .box {
  padding: 10px;
  margin-right:50px;
  display: flex;
  flex-direction: column;
  background-color:#2b2b2b;
  border-radius:10px;
}
.container-1 .box h4,p {
  padding-top:10px;
  margin:0;
  color:white
}

.container-1 .box p{
  padding-bottom:50px;
}

.container-1 .box .btn {
  align-self: center;
  margin-top: auto;
}

.container-1 .box a{
  text-decoration:none;
  color: white;
  background-color:#727272;
  padding:5px 10px;
}

.container-1 .box a:hover{
  color:red;
}

.container-1 .box img{
  width:350px;
  height:350px;
}